name: Terraform CI-CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: "Terraform Validation"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      # الخطوة دي هتتأكد إن الكود مكتوب صح برمجياً
      - name: Terraform Validate
        run: terraform validate

      # حتى لو الـ Plan لقى تغييرات، السكريبت هيكمل ويطلع علامة خضراء
      - name: Terraform Plan
        run: terraform plan -no-color || true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1